VITE_SITE_URL=https://void-rp.ru
VITE_SERVER_NAME=VoidRP
VITE_SERVER_IP=play.void-rp.ru
VITE_SERVER_VERSION=1.21.1
VITE_STATUS_ENDPOINT=https://void-rp.ru/api/status
VITE_LAUNCHER_PORTABLE_URL=https://void-rp.ru/launcher/self-update/VoidRpLauncher.exe
VITE_DYNMAP_URL=https://map.void-rp.ru
VITE_DISCORD_URL=https://discord.gg/yourinvite
VITE_TELEGRAM_URL=https://t.me/yourchannel
VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1
VITE_LAUNCHER_PORTABLE_URL=https://void-rp.ru/launcher/self-update/VoidRpLauncher.exe
